body {
  width: 1366px;
  margin: 0 auto;
  height: 100%;
}
/*通用头部start*/
#header {
  width: 100%;
  height: 48px;
  background-color: #504f55;
}
#header .head_left .logo {
  margin-left: 18px;
  height: 38px;
}
#header .head_left .logo img {
  height: 48px;
}
#header .head_left .nav {
  height: 38px;
  margin: 8px 0 0 100px;
}
#header .head_left .nav .btc {
  color: #ffffff;
  border-color: #cc4139;
}
#header .head_right {
  margin-right: 40px;
}
#header .head_right .search {
  margin-right: 88px;
  margin-top: 15px;
  width: 267px;
  height: 20px;
  border-bottom: 1px solid #7c7b80;
  position: relative;
}
#header .head_right .search .search_inp {
  width: 200px;
  height: 20px;
  padding: 0 38px 0 25px;
  border: none;
  background-color: #504f55;
  outline: none;
  color: #fff;
}
#header .head_right .search .search_icon {
  display: block;
  width: 20px;
  font-size: 14px;
  height: 20px;
  background: url(../svg/search.svg) no-repeat;
  position: absolute;
  left: 0;
  top: 0;
}
#header .head_right .search .search_btn {
  width: 38px;
  height: 20px;
  line-height: 20px;
  border: none;
  background-color: #504f55;
  position: absolute;
  right: 0;
  top: 0;
  color: #fff;
}
#header .head_right .user {
  height: 48px;
  line-height: 48px;
}
#header .head_right .user i {
  display: inline-block;
  width: 18px;
  height: 18px;
  background: url(../svg/user_himg.svg);
  vertical-align: middle;
}
#header .head_right .user .user_name {
  display: inline-block;
  height: 18px;
  line-height: 18px;
  font-size: 14px;
  color: #fff;
  vertical-align: middle;
}
.nav a {
  display: inline-block;
  height: 36px;
  font: 14px/36px "微软雅黑";
  color: #b5b5b5;
  text-align: center;
  margin: 0 14px;
  border-bottom: 2px solid #504f55;
}
.nav a:hover {
  color: #ffffff;
  border-color: #cc4139;
}
/*通用头部end*/
/* 面包屑导航start */
#smenu {
  height: 35px;
  padding: 0 40px;
  background-color: #f3f4f8;
}
#smenu a {
  height: 35px;
  line-height: 35px;
  color: #aaabae;
}
/* 面包屑导航end */
