body{
    width: 1366px;
    margin: 0 auto;
    height: 100%;
}
/*通用头部start*/
#header{
    width: 100%;
    height: 48px;
    background-color: #504f55;
    .head_left{
        .logo{
            margin-left: 18px;
            height: 48px;
            img{
                height: 48px;
            }
        }
        .nav{
            height: 48px;
            margin-top: 8px;
        }
    }
}
.nav a{
    display: inline-block;
    width: 56px;
    height: 36px;
    font: 14px/36px "微软雅黑";
    color: #b5b5b5;
    text-align: center;
    margin: 0 14px;
    border-bottom: 2px solid #504f55;
    &:hover{
        color: #ffffff;
        border-color: #cc4139;
    }
}
/*通用头部end*/