.retrieval {
  width: 100%;
  min-height: 615px;
  position: relative;
}
.retrieval .retrieval_box {
  width: 438px;
  height: 72px;
  position: absolute;
  left: 442px;
  top: 178px;
}
.condition {
  padding-left: 3px;
  height: 30px;
  margin-bottom: 8px;
}
.condition a {
  float: left;
  display: block;
  height: 30px;
  line-height: 30px;
  font-size: 14px;
  margin-right: 34px;
  color: #667eba;
}
.ret_box {
  width: 100%;
  height: 34px;
  box-shadow: 0 5px 5px rgba(237, 237, 238, 0.8);
}
.ret_box select {
  width: 52px;
  height: 34px;
  padding: 0 3px;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  color: #888889;
  border: none;
  background-size: 20px 20px;
  background: url(../images/lower-arrow.png) #ededee no-repeat 35px center;
  outline: none;
}
.ret_box input {
  width: 300px;
  height: 34px;
  font-size: 14px;
  border: none;
  outline: none;
  padding: 0 13px;
}
.ret_box .ret_btn {
  width: 60px;
  height: 34px;
  background-color: #504f56;
  border: none;
  color: #fff;
}
.ret_box select::-ms-expand {
  display: none;
}
